<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>11</title>
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="bg-gray-100 p-10">
    <h1 class="text-3xl font-bold mb-4 text-center">Responsive Product card grid</h1>
    <p class="mb-10 text-center">Tailwind CSS</p>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <!-- Card 1 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden ml-20">
            <img class="w-full h-80 object-cover hover:brightness-110" src="../asset/24.jpg" alt="Product Image">
            <div class="p-4">
                <span class="block text-gray-500 text-sm">BRAND</span>
                <h2 class="text-lg font-semibold mb-2">Product Name</h2>
                <div class="flex items-center">
                    <span class="text-2xl font-bold text-gray-900">$149</span>
                    <span class="text-gray-500 line-through ml-2">$199</span>
                    <!-- <div class="absolute left-[360px] bottom-[-40px] h-20 w-20 hover:text-blue-700">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div> -->
                </div>
            </div>
        </div>
        
        <!-- Card 2 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden mx-10">
            <img class="w-full h-80  object-cover hover:brightness-110" src="../asset/25.jpg" alt="Product Image">
            <div class="p-4">
                <span class="block text-gray-500 text-sm">BRAND</span>
                <h2 class="text-lg font-semibold mb-2">Product Name</h2>
                <div class="flex items-center">
                    <span class="text-2xl font-bold text-gray-900">$149</span>
                    <span class="text-gray-500 line-through ml-2">$199</span>
                    <!-- <div class="absolute left-[360px] bottom-[-40px] h-20 w-20 hover:text-blue-700">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden mr-20">
            <img class="w-full h-80  object-cover hover:brightness-110" src="../asset/23.jpg" alt="Product Image">
            <div class="p-4">
                <span class="block text-gray-500 text-sm">BRAND</span>
                <h2 class="text-lg font-semibold mb-2">Product Name</h2>
                <div class="flex items-center">
                    <span class="text-2xl font-bold text-gray-900">$149</span>
                    <span class="text-gray-500 line-through ml-2">$199</span>
                    <!-- <div class="absolute left-[360px] bottom-[-40px] h-20 w-20 hover:text-blue-700">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden ml-20">
            <img class="w-full h-80 object-cover hover:brightness-110" src="../asset/20.jpg" alt="Product Image">
            <div class="p-4">
                <span class="block text-gray-500 text-sm">BRAND</span>
                <h2 class="text-lg font-semibold mb-2">Product Name</h2>
                <div class="flex items-center">
                    <span class="text-2xl font-bold text-gray-900">$149</span>
                    <span class="text-gray-500 line-through ml-2">$199</span>
                    <!-- <div class="absolute left-[360px] bottom-[-40px] h-20 w-20 hover:text-blue-700">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden mx-10">
            <img class="w-full h-80 object-cover hover:brightness-110" src="../asset/22.jpg" alt="Product Image">
            <div class="p-4">
                <span class="block text-gray-500 text-sm">BRAND</span>
                <h2 class="text-lg font-semibold mb-2">Product Name</h2>
                <div class="flex items-center">
                    <span class="text-2xl font-bold text-gray-900">$149</span>
                    <span class="text-gray-500 line-through ml-2">$199</span>
                    <!-- <div class="absolute left-[360px] bottom-[-40px] h-20 w-20 hover:text-blue-700">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Card 6 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden mr-20">
            <img class="w-full h-80 object-cover hover:brightness-110" src="../asset/21.jpg" alt="Product Image">
            <div class="p-4">
                <span class="block text-gray-500 text-sm">BRAND</span>
                <h2 class="text-lg font-semibold mb-2">Product Name</h2>
                <div class="flex items-center">
                    <span class="text-2xl font-bold text-gray-900">$149</span>
                    <span class="text-gray-500 line-through ml-2">$199</span>
                    <!-- <div class="absolute left-[360px] bottom-[-40px] h-20 w-20 hover:text-blue-700">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</body>

</html>