<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>9</title>
    <link rel="stylesheet" href="output.css">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="text-center">
        <span class="text-gray-600 font-medium block mb-2 text-left">Trusted by</span>
        <div class="flex justify-center -space-x-3 mb-2">
            <img class="w-10 h-10 rounded-full border-2 border-white" src="../asset/12.jpg" alt="User 1">
            <img class="w-10 h-10 rounded-full border-2 border-white" src="../asset/13.jpg" alt="User 2">
            <img class="w-10 h-10 rounded-full border-2 border-white" src="../asset/14.jpg" alt="User 3">
            <img class="w-10 h-10 rounded-full border-2 border-white" src="../asset/15.jpg" alt="User 4">
            <img class="w-10 h-10 rounded-full border-2 border-white" src="../asset/16.jpg" alt="User 5">
            <img class="w-10 h-10 rounded-full border-2 border-white" src="../asset/14.jpg" alt="User 6">
            <pre class="text-gray-600 font-mono mr-20 mt-2">  Join 5,000+ other members</pre>
        </div>
        
    </div>
</body>

</html>
