<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>13</title>
    <link rel="stylesheet" href="output.css">
</head>

<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-md rounded-lg flex overflow-hidden max-w-4xl w-full">
        <div class="w-full md:w-1/2 p-8">
            <div class="w-40 ml-28">
                <img src="../asset/29.jpg" class="">
            </div>
            <h2 class="text-2xl font-bold mb-6 text-center justify-center mt-10">Sign up</h2>
            <button class="w-full h-14 flex items-center justify-center bg-red-500 text-white py-2 px-4 rounded mb-4">
                <img src="../asset/google.webp" class="mr-2 w-16" />
                Sign Up with Google
            </button>
            <button class="w-full flex items-center justify-center bg-gray-900 text-white py-2 px-4 rounded mb-4">
                <img src="../asset/github.png" class="mr-2  w-16" />
                Sign Up with GitHub
            </button>
            <div class="text-center my-4">Or sign up with e-mail</div>
            <form action="#">
                <input type="email" placeholder="Email" class="w-full px-4 py-2 border rounded mb-4">
                <input type="password" placeholder="Password" class="w-full px-4 py-2 border rounded mb-6">
                <button type="submit" class="w-full bg-indigo-600 text-white py-2 px-4 rounded">Sign Up</button>
            </form>
            <p class="text-sm text-center text-gray-600 mt-4">
                I agree to abide by templatana's
                <a href="#" class="text-indigo-600">Terms of Service</a> and its
                <a href="#" class="text-indigo-600">Privacy Policy</a>
            </p>
        </div>
        <div class="hidden md:block w-1/2 bg-indigo-100 p-8">
            <div class="h-full flex items-center justify-center">
                <img src="../asset/27.svg" alt="Illustration" class="max-w-full h-full border-">
            </div>
        </div>
    </div>
</body>

</html>