<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8</title>
    <link rel="stylesheet" href="output.css">
</head>
<body>
    <section class="h-screen relative">
        <div class="absolute inset-0">
            <img class="object-cover object-center w-full h-full" src="../asset/11.webp" alt="Background Image" />
            <div class="absolute  bg-black opacity-50"></div>
        </div>
        <div class="relative z-10 h-full flex flex-col justify-center items-center">
            <div class="text-white  font-extrabold text-4xl">Welcome to Our Awesome Website</div>
            <div class=" text-white text-sm my-5">Discover amazing features and services that await you.</div>
            <button class="bg-yellow-400 text-black py-2 px-5 rounded-3xl font-medium text-sm hover:bg-white">Get Started</button>
        </div>
    </section>
    
</body>
</html>