<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>5</title>
    <link rel="stylesheet" href="output.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-white text-center items-center justify-center h-screen">
    <footer class="bg-purple-900 text-white py-10 ">
        <div class="container mx-auto px-4 flex flex-wrap justify-between ml-20 ">
            <div class="w-full md:w-1/4 mb-6 md:mb-0 ">
                <h2 class="text-red-500 font-bold text-xl mb-4">YOUR<span class="text-white">LOGO</span></h2>
                <p class="text-gray-300 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, fugit non.
                    Incidunt dolorum adipisci, tempore asperiores nemo odio facere officiis enim animi placeat eaque
                    nesciunt alias beatae id, at dicta.</p>
                <div class="flex space-x-2">
                    <i class="fab fa-youtube w-8 h-8  "></i>
                    <i class="fab fa-facebook w-8 h-8 "></i>
                    <i class="fab fa-twitter w-8 h-8  "></i>
                    <i class="fab fa-instagram w-8 h-8"></i>
                    <i class="fas fa-gamepad w-8 h-8  "></i>
                    <i class="fab fa-netflix w-8 h-8  "></i>
                </div>
            </div>
            <div class="w-full md:w-1/4 mb-6 md:mb-0">
                <ul class="text-gray-300">
                    <li class="mb-4">
                        <i class="fas fa-phone mr-2"></i>
                        +91 1800123444<br>
                        <span class="text-gray-500">Support Number</span>
                    </li>
                    <li class="mb-4">
                        <i class="fas fa-envelope mr-2"></i>
                        help@lorem.com<br>
                        <span class="text-gray-500">Support Email</span>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt mr-2"></i>
                        Sub Nerul, Mumbia, India, 123456<br>
                        <span class="text-gray-500">Address</span>
                    </li>
                </ul>
            </div>
            <!-- Pages and Download the app -->
            <div class="w-full md:w-1/4 mb-6 md:mb-0">
                <h3 class="font-bold mb-4">Pages</h3>
                <ul class="text-gray-300">
                    <li class="mb-2"><a href="#" class="hover:text-gray-500">Home</a></li>
                    <li class="mb-2"><a href="#" class="hover:text-gray-500">News</a></li>
                    <li class="mb-2"><a href="#" class="hover:text-gray-500">Contact</a></li>
                    <li class="mb-2"><a href="#" class="hover:text-gray-500">Plans and pricing</a></li>
                    <li class="mb-2"><a href="#" class="hover:text-gray-500">Terms and conditions</a></li>
                    <li class="mb-2"><a href="#" class="hover:text-gray-500">Privacy policy</a></li>
                </ul>
            </div>
            <div class="w-full md:w-1/4">
                <h3 class="font-bold mb-4 mr-36">Download the app</h3>
                <div class="flex space-x-2">
                    <i class="fab fa-apple w-10 h-10"></i>
                    <i class="fab fa-google-play w-10 h-10 "></i>
                </div>
            </div>
        </div>
        <div class="border-t border-gray-500 mt-6 pt-4 text-center text-gray-400 text-sm">
            © Copyright 2024, All Rights Reserved by YOUR WEBSITES. PVT. LTD
        </div>
    </footer>
</body>

</html>